:root {
  --white: #fefff3;
  --red: #ae0001;
  --burgundy: #880a1f;
  --pine: #002e00;
  --midnight: #032c4b;
  --blueGreenGrad: linear-gradient(to right, var(--midnight), var(--pine))
}

body {
  color: var(--white);
  background: var(--blueGreenGrad);
}

.genBtn {
  color: var(--white);
  background-color: var(--red);
  border: 3px solid var(--white);
  border-radius: 7px;
}

.header {
  color: var(--white);
  background-color: var(--red);
  width: 100%;
  border-bottom: 15px solid var(--white);
}

.story {
  margin-top: 1.5rem;
}